@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.App {
  text-align: center;
  height: fit-content;
}

.AppDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  flex-direction: column;
}

.App-h1 {
  font-size: 1.5rem;
  color: #31344b;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7vmax;
  border: 0.1vmax solid #d1d9e6;
  border-radius: 5vmax;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  background-color: #e6e7ee;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2vmax;
}

.selectStyle {
  font-size: 1rem;
  color: #31344b;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  border: 0.1rem solid #d1d9e6;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  background-color: #e6e7ee;
  height: 2rem;
  max-width: 100%;
}

.mkBold{
  font-family: 'Cabin', cursive;
  font-weight: 800;
}

.selectStyle-entering {
  animation: selectAnim 1s ease-in;
}

.selectStyle-exiting {
  animation: selectAnim 1s ease-out reverse backwards;
}

.searchDiv {
  position: relative;
  z-index: 1;
  margin-top: 2.5vmax;
}

.searchDiv-button {
  font-size: 0.7rem;
  color: #535353;
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7vmax;
  border: 0.1vmax solid #d1d9e6;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  background-color: #e6e7ee;
  height: 2rem;
}

.searchDiv-button:active{
  transform: translate(-0.1rem,0.1rem);
  box-shadow: 0.2vmax 0.2vmax 0.4vmax #b8b9be, -0.2vmax -0.2vmax 0.4vmax #fff;
}

.searchDiv-button:disabled{
  opacity: 0.6;
  transform: translate(-0.1rem,0.1rem);
  box-shadow: 0.2vmax 0.2vmax 0.4vmax #b8b9be, -0.2vmax -0.2vmax 0.4vmax #fff;
}

.btnLeft {
  border-radius: 5vmax 0 0 5vmax;
  background-color: #fb8282;
}

.btnRight {
  border-radius: 0 5vmax 5vmax 0;
  margin-left: 1rem;
  background-color: #99fb99;
}

.searchDiv-Input {
  display: initial;
  height: 2rem;
  border: none;
  padding: 1vmax;
  background-color: #e6e7ee;
  width: 21rem;
  font-size: 1rem;
  border-radius: 0.9vmax;
  color: #848484;
  font-weight: 300;
  text-align: center;
  box-shadow: inset 0.2vmax 0.2vmax 0.3vmax #b8b9be, inset -0.2vmax -0.2vmax 0.3vmax #fff;
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem
}

.searchDiv-ul {
  position: absolute;
  text-align: left;
  list-style-type: none;
  background-color: white;
  width: calc(100% - 15%);
  border-radius: 0 0 0.7vmax 0.7vmax;
  margin-left: 1.6rem;
}

.searchDiv-li {
  padding: 0.3vmax 0.3vmax 0.3vmax 0.9vmax;
  cursor: pointer;
  border-radius: 0.7vmax;
}

.searchDiv-li:hover {
  background-color: #e6e6e6db;
}

.weather-details-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-div {
  margin-top: 2vmax;
  padding: 1vmax 2vmax 2vmax 2vmax;
  border: 1px solid #d1d9e6;
  border-radius: 1vmax;
  background-color: #e6e7ee;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: weatherAnim 1s ease-in;
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.weather-temp {
  border-radius: 50%;
  background-color: #e6e7ee;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff, inset 0.2vmax 0.2vmax 0.4vmax #9b8303;
  height: 8rem;
  width: 8rem;
  position: relative;
  background-image: linear-gradient(to bottom right, red, yellow);
}

.weather-temp-h1 {
  color: white;
  font-size: 2.2rem;
  position: relative;
  margin-top: 14%;
  transform: translateY(-50%);
}

.weather-temp-p {
  color: white;
  font-size: 0.7vmax;
  position: relative;
  margin-top: -16%;
}

.weather-info {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-info-div {
  margin-top: 1rem;
  background-color: #dedfe8;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 10%;
  padding: 1vmax;
}

.info-p {
  font-family: 'Cabin', cursive;
  color: #535353;
  font-size: 0.7rem;
  letter-spacing: 0.1vmax;
  font-weight: 500;
}

.info-h1 {
  font-family: 'Cabin', cursive;
  color: #444;
  font-size: 1.4rem;
}

.other-details-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  align-content: center;
}

.OD-div {
  margin-top: 2vmax;
  padding: 1vmax;
  border: 1px solid #d1d9e6;
  border-radius: 1vmax;
  background-color: #e6e7ee;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1vmax;
  margin-right: 1vmax;
}


.OD-info {
  display: inline-flex;
  margin-top: 1vmax;
}


.ODI-div {
  margin-left: 1vmax;
  margin-right: 1vmax;
}

.pollutionContainer{
  display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}


.addressDetails{
  margin-top: 2vmax;
  padding: 1vmax;
  border: 1px solid #d1d9e6;
  border-radius: 1vmax;
  background-color: #e6e7ee;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 1vmax;
  margin-right: 1vmax;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.addrText{
  margin-left: 0.4rem;
margin-right: 0.4rem;
margin-top: 0.2rem;
}

.airQualityContainer{
  background-color: #e6e7ee;
  padding: 1rem;
  margin-top: -0.4rem;
  border-radius: 0.7rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.airQualityDiv{
  margin-top: 1.5rem;
  filter: drop-shadow(1px 0 0 #d1d9e6) drop-shadow(0 1px 0 #d1d9e6) drop-shadow(-1px 0 0 #d1d9e6) drop-shadow(0 -1px 0 #d1d9e6) drop-shadow(0.3vmax 0.3vmax 0.6vmax #b8b9be) drop-shadow(-0.3vmax -0.3vmax 0.6vmax #fff);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textWithBg{
font-weight: 800;
background-color: #dedfe8;
border-radius: 0.7rem;
font-family: 'Cabin', cursive;
color: #444;
}

.neumorphismEffect{
  padding:1vmax;
  border: 1px solid #d1d9e6;
  border-radius: 1vmax;
  background-color: #e6e7ee;
  box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
}


#earthAnim {
  height: 14rem;
  background-color: #e6e7ee;
  width: 14rem;
  padding: 1rem;
  border-radius: 100%;
  /* filter: drop-shadow(0.3vmax 0.3vmax 0.6vmax #b8b9be) drop-shadow(-0.3vmax -0.3vmax 0.6vmax #fff);
  border: 1px solid #d1d9e6; */
}

/*-------------------ANIMATIONS----------------------------------*/
@keyframes selectAnim {
  0% {
    color: #e6e7ee;
    border: 0vmax solid #e6e7ee;
    box-shadow: 0vmax 0vmax 0vmax #e6e7ee, 0vmax 0vmax 0vmax #e6e7ee;
  }

  80% {
    color: #31344b;
  }

  100% {
    border: 0.1vmax solid #d1d9e6;
    box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  }
}

@keyframes weatherAnim {
  0% {
    border: 0 solid #e6e7ee;
    box-shadow: 0vmax 0vmax 0vmax #e6e7ee, 0vmax 0vmax 0vmax #e6e7ee;
  }

  100% {
    border: 1px solid #d1d9e6;
    box-shadow: 0.3vmax 0.3vmax 0.6vmax #b8b9be, -0.3vmax -0.3vmax 0.6vmax #fff;
  }
}

/* #aee2f0
rgba(174,226,240,255)

#f0d9da
rgba(240,217,218,255)

background: #00C9FF;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #92FE9D, #00C9FF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */